button{
	font-family: 'Roboto Mono', monospace;
}

.btn-submit{
	text-align:center;
  	border: 4px solid #FFB80A;
  	box-shadow: 10px 10px 0 0 #FFB80A;
  	color: #FFB80A;
	background-color: #FFF;
	box-shadow: 10px 10px 0 0 #FFB80A;
	font-size: 1rem;
	min-height: 4vh;
  	line-height: 4vh;
   	margin: auto;
   	margin-top: 2rem;
   	padding: 0.3rem;
  	width: 30rem;

	&:hover {
		background-color: #FFB80A;
    	color: #FFF;
  		border: 4px solid white;
	}

	&:active {
		background-color: #FFB80A;
	}
}

.btn-reset{
	text-align: center;
	background-color: #FFF;
	border: 4px solid #4185DE;
	margin: 5%;
	color: #4185DE;
	position: relative;	
	box-shadow: 10px 10px 0 0 #4185DE;
	font-size: 1rem;
	min-height: 4vh;
  	line-height: 4vh;
   	margin: auto;
   	padding: 0.3rem;
  	width: 30rem;

	&:hover {
		background-color: #4185DE;
    	color: #FFF;
  		border: 4px solid white;
	}

	&:active {
		background-color: #4185DE;
	}
}

.btn-teams{
	text-align: center;
	background-color: #FFF;
	border: 4px solid #DC6BA6;
	margin: 5%;
	color: #DC6BA6;
	// position: relative;	
	box-shadow: 10px 10px 0 0 #DC6BA6;
	font-size: 1rem;
	min-height: 4vh;
  	line-height: 4vh;
   	margin: auto;
   	padding: 0.3rem;
  	width: 30rem;

	&:hover {
		background-color: #DC6BA6;
    	color: #FFF;
  		border: 4px solid white;
	}

	&:active {
		background-color: #DC6BA6;
	}
}

.btn-start-over{
	text-align:center;
  	border: 4px solid #FFB80A;
  	box-shadow: 10px 10px 0 0 #FFB80A;
  	color: #FFB80A;
	background-color: #FFF;
	box-shadow: 10px 10px 0 0 #FFB80A;
	font-size: 1rem;
	min-height: 4vh;
  	line-height: 4vh;
   	margin: auto;
   	margin-top: 2rem;
   	padding: 0.3rem;
  	width: 30rem;

	&:hover {
		background-color: #FFB80A;
    	color: #FFF;
  		border: 4px solid white;
	}

	&:active {
		background-color: #FFB80A;
	}
}

.btn-shuffle{
	text-align: center;
	background-color: #FFF;
	border: 4px solid #57C4D3;
	margin: 5%;
	color: #57C4D3;
	position: relative;	
	box-shadow: 10px 10px 0 0 #57C4D3;
	font-size: 1rem;
	min-height: 4vh;
  	line-height: 4vh;
   	margin: auto;
   	padding: 0.3rem;
  	width: 30rem;

	&:hover {
		background-color: #57C4D3;
    	color: #FFF;
  		border: 4px solid white;
	}

	&:active {
		background-color: #57C4D3;
	}
}






