// h1{
// 	color: white;	
// 	display: flex;
//   	justify-content: flex-start;
//   	align-items: flex-start;
//   	font-weight: 10;
// }

h3{
	font-weight: 2;
	font-size: 2rem;
	color: #FFF;	
	display: flex;
  	justify-content: center;
  	align-items: center;
}

label{
	font-weight: 2;
	font-size: 1.3rem;
	color: #FFF;
	display: flex;
	justify-content: flex-end;
	padding: 10px;
	align-items: center;
}

a{
	text-decoration: none;
}