.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% auto auto auto auto 10%;
    width: 100vw;
    height: 100vh;
}

.background{
	background-color: #58D6C5;
}

.background-teams{
	background-color: #6A7DE3;
}

body {
    grid-column: 1/2;
    grid-row: 3/6;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-between;
	font-size: 1rem;
	font-family: 'Roboto Mono', monospace;
	font-weight: lighter;
	font-color: #FFF;

	.body-teams{
	background-color: #6A7DE3;
	}

}

.sidebar {
    // grid-column: 2/3;
    // grid-row: 3/6;
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;

	@media only screen and (min-width: 500px) {
    	grid-column: 2/3;
    	grid-row: 3/6;
	}

	.sidebar-teams{
		background-color: #6A7DE3;
	}
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-between;
}

.form-label{
	color: #FFF;
	align-self: center;
	padding-bottom: 1rem;
 }

.form-input{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-self: center;
	font-size: 1rem;
	min-height: 4vh;
  	line-height: 4vh;
   	margin-bottom: 2rem;
   	text-align: center;
	background-color: #FFF;
	border: 4px solid #FFB80A;
  	width: 30rem;
	height: 2.5rem;
	color: #FFB80A;
	box-shadow: 10px 10px 0 0 #FFB80A;

	&:focus {
	background-color: #FFB80A;
	color: #FFF;
	border: 4px solid white;
	}

	&:hover {
	background-color: #FFB80A;
	color: #FFF;
	border: 4px solid white;
	}
}

.radio{
	border: 0;
	align-self: center;
}

.radio-input{
	margin-right: 0.75rem;
}

.players-list{
	text-align: left;
	background-color: #FFF;
	border: 4px solid #DC6BA6;
	box-shadow: 10px 10px 0 0 #DC6BA6;
	color: #DC6BA6;
	font-size: 1rem;
	min-height: 35vh;
  	line-height: 4vh;
   	margin-bottom: 2rem;
   	padding: 0.3rem;
  	width: 25rem;

	&:hover {
		background-color: #DC6BA6;
		color: #FFF;
  		border: 4px solid white;
	}
}

.team-list-a{
	text-align: left;
	background-color: #FFF;
	border: 4px solid #57C4D3;
	box-shadow: 10px 10px 0 0 #57C4D3;
	font-size: 1rem;
	min-height: 35vh;
  	line-height: 4vh;
   	margin-bottom: 2rem;
   	padding: 0.3rem;
  	width: 25rem;

	&:hover {
		background-color: #57C4D3;
		color: #FFF;
  		border: 4px solid white;
	}
}

.team-list-b{
	text-align: left;
	background-color: #FFF;
	border: 4px solid #FFB80A;
	box-shadow: 10px 10px 0 0 #FFB80A;
	font-size: 1rem;
	min-height: 35vh;
  	line-height: 4vh;
   	margin-bottom: 2rem;
   	padding: 0.3rem;
  	width: 25rem;

	&:hover {
		background-color: #FFB80A;
		color: #FFF;
  		border: 4px solid white;
	}
}






