.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% auto auto auto auto 10%;
    width: 100vw;
    height: 100vh;
}

.background{
	background-color: #58D6C5;
	background-size: cover;
}

.background-teams{
	background-color: #6A7DE3;
	background-size: cover;
}

.header{
	grid-column: 1/3;
	grid-row: 1/3;
	font-family: 'VT323', monospace;
    margin-block-start: 0.2rem;
    margin-block-end: 0.2rem;
    margin-inline-start: 18rem;
    margin-inline-end: 18rem;
    padding: 1rem;
    font-size: 5rem;
    background-color: rgba(255, 94, 171, 0.8);
    text-align: center;
	color: #FFF;
	position: absolute;
	box-shadow: 10px 10px 0 0 rgba(255, 94, 171, 0.8);
	border: 4px solid #FFF;

	&:hover {
	background-color: #FFF;
	color: #DC6BA6;
	border: 4px solid #DC6BA6;
	}
}

.header-teams{
	background-color: #6A7DE3;
}

.subheader{
	color: #FFF;
	padding: 0.5rem;
	width: 30rem;
	text-align: center;
}

.subheader-a{
	background-color: #57C4D3;
}

.subheader-b{
	background-color: #FFB80A;
}

.sidebar {
    grid-column: 2/3;
    grid-row: 3/6;
    display: flex;
    flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.sidebar-teams{
	background-color: #6A7DE3;
}

body {
    grid-column: 1/2;
    grid-row: 3/6;
    display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: space-between;
	font-size: 1rem;
	font-family: 'Roboto Mono', monospace;
	font-weight: lighter;
	font-color: #FFF;
}

.body-teams{
	background-color: #6A7DE3;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-between;
}

.form-label{
	color: #FFF;
	align-self: center;
	padding-bottom: 1rem;
 }

.form-input{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-self: center;
	font-size: 1rem;
	min-height: 4vh;
  	line-height: 4vh;
   	margin-bottom: 2rem;
   	text-align: center;
	background-color: #FFF;
	border: 4px solid #FFB80A;
  	width: 30rem;
	height: 2.5rem;
	color: #FFB80A;
	box-shadow: 10px 10px 0 0 #FFB80A;

	&:focus {
	background-color: #FFB80A;
	color: #FFF;
	border: 4px solid white;
	}

	&:hover {
	background-color: #FFB80A;
	color: #FFF;
	border: 4px solid white;
	}
}

.radio{
	border: 0;
	align-self: center;
}

.radio-input{
	margin-right: 0.75rem;
}

.players-list{
	text-align: left;
	background-color: #FFF;
	border: 4px solid #DC6BA6;
	box-shadow: 10px 10px 0 0 #DC6BA6;
	font-size: 1rem;
	min-height: 35vh;
  	line-height: 4vh;
   	margin-bottom: 2rem;
   	padding: 0.3rem;
  	width: 25rem;

	&:hover {
		background-color: #DC6BA6;
		color: #FFF;
  		border: 4px solid white;
	}
}



