.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% auto auto auto auto 10%;
    background-color: #58D6C5;
    width: 100vw;
    height: 100vh;
}

.header{
	grid-column: 1/3;
	grid-row: 1/3;
    display: block;
    font-family: 'Rammetto One', cursive;
    margin-block-start: 0.2rem;
    margin-block-end: 0.2rem;
    margin-inline-start: 9.5rem;
    margin-inline-end: 9.5rem;
    padding: 1rem;
    font-weight: 1rem;
    font-size: 3.5rem;
    background-color: rgba(255, 94, 171, 0.8);
    text-align: center;
	color: #FFF;
}

.sidebar {
    grid-column: 2/3;
    grid-row: 3/6;
    display: flex;
    flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.body {
    grid-column: 1/2;
    grid-row: 3/6;
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

body{
	font-size: 1rem;
	font-family: 'Roboto Mono', monospace;
	font-weight: lighter;
	font-color: #FFF;
}

.background{
	background-color: #58D6C5;
	background-size: cover;
	}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-between;
}

.form-label{
	color: #FFF;
	// padding-left: 1rem;
	padding-bottom: 1rem;
 }

.form-input{
	// // float: left;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	font-size: 1rem;
	min-height: 4vh;
  	line-height: 4vh;
   	margin-bottom: 2rem;
   	// padding: 0.3rem;
	background-color: #FFF;
	border: 4px solid #FFB80A;
  	width: 150%;
	height: 2.5rem;
	color: #FFB80A;
	// position: relative;	
	box-shadow: 10px 10px 0 0 #FFB80A;

	&:focus {
	background-color: #FFB80A;
	color: #FFF;
	border: 4px solid white;
	}
}

.radio{
	border: 0;
	align-self: flex-start;
}



